*{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(255, 127, 80, 0.648);
}
.container h1{
    margin-top:9rem;
    margin-left:80px;
    font-size:3rem;
    font-weight: 600;
}
.input{
    margin-top:30px;
    margin-left:80px;
    width:50%;
    background-color: bisque;
    display:flex;
    align-items:center;
    height:6rem;
}
.date{
    padding:13px;
    width:60%;
    background-color: rgba(210, 105, 30, 0.781);
    font-size: 2rem;
    border-radius:20px;
    margin-left:20px;
    border:0;
    outline:none;
}
.btn{
    margin-left:100px;
    height:2.8rem;
    width:8rem;
    font-size: 20px;
    font-weight: bold;
    border:0;
    outline:none;
    background-color: brown;
    color:#ffff;
    border-radius:10px;
}
#para{
    margin-top:20px;
    margin:90px auto;
    min-width:40%;
    max-width:570px;
    font-size: 2.5rem;
    font-weight: bold;
    color:black;
    padding:18px;
    border-radius:40px;
    text-align: center;
}
.btn:hover{
    /*transform: scale(1.75);*/
    background-color: black;
}
